<!DOCTYPE html>

<html lang="fr">


    <title>Cosmo&Bio - {% block title %}base{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="site Cosmo&Bio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mustapha BOUSLAH">


    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {# asset pour viser le dossier "public" #}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        .header {
            grid-area: header;
            background-color: white;
            padding: 30px;
            text-align: center;
            font-size: 35px;
        }

        /* The grid container */
        .grid-container {
            display: grid;
            grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
            /* grid-column-gap: 10px; - if you want gap between the columns */
        }

        .left,
        .middle,
        .right {
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }


        /* Style the footer */
        .footer {
            grid-area: footer;
            background-color: #f1f1f1;
            padding: 10px;
            text-align: center;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media (max-width: 600px) {
            .grid-container  {
                grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
            }
        }
    </style>


    {% block stylesheets %}{% endblock %}
<head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-brand" href="{{ path('home') }}">Cosmo&Bio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact') }}">Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Promos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('apropos') }}">A propos</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos Produits</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos soins</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

</head>

<body>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


<footer class="bg-light">
    <div class="container-fluid">
        <div class="row text-center text-dark">
            <div class="col-md-4 p-5 my-auto">
                <p>QUELQUES LIENS</p>
                <p class="dropdown-divider"></p>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('contact') }}">contact</a></li>
                    <li><a href="{{ path('apropos') }}">A Propos</a></li>

                    <li>
                        {% for langue in locales %}
                            {% if langue != app.request.locale %}
                                <a href="{{ path('langue', {'langue': langue}) }}">
                                    <img src="{{ asset('img/drapeaux/drapeau_' ~ langue ~ '.png') }}" alt="drapeau {{ langue }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="col-md-4 p-5 my-auto">
                <span id="googleMap" style="width:100%;height:400px;"></span>
            </div>
            <div class="col-md-4 p-5 my-auto">
                <p>COORDONN&Eacute;ES</p>
                <p class="dropdown-divider"></p>
                <p>10 rue du Village</p>
                <p>12345 Ville</p>
                <p>01.23.45.67.89</p>
                <p>prenom.nom@mail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>{{ copyright|raw }}</p>
            </div>
        </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
<script src="{{ asset('js/app.js') }}"></script>
</body>

</html>
